/* RESPONSIVENESS */
@media only screen and (max-width: 767px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;

    }

    main>section {
        display: flex;
        min-width: 50%;
        grid-template-columns: 1fr;
    }

    header {
        grid-column: auto;
    }

    nav {
        grid-column: 100%;
    }

    .promotion {
        grid-column: 1;
        background-image: none;
        color: white;
        padding-left: 1em;
    }

    .newmenu {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    .booknow {
        grid-column: 1 / span 3;
        grid-row: 5;
    }

    .openinghour {
        grid-row: 6;
        grid-column: 1 / span 3
    }

    h1 {
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    footer {
        grid-row: 7;
    }
}


/* BODY, HEADER & NAVI */

body {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    background-color: #EDEFEE;
    margin-left: 2rem;
    margin-right: 2rem;
}


header {
    grid-row: 1;
    grid-column: 1/ span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

nav {
    grid-row: 2;
    grid-column: 1/ span 3;
    background-color: rgb(52, 121, 94);
    text-align: center;
    font-weight: 400;
    box-shadow: 1px 5px 10px rgb(52, 121, 94);
    margin-bottom: 2em;
    border-radius: 2rem;
}

nav a {

    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Georgia', sans-serif;
    justify-self: center;
}

ul>li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a:hover {
    color: rgb(241, 219, 14);
}


/* MAIN SECTION */

main {
    display: grid;
}

main>section {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.promotion {
    grid-column: 1/ span 3;
    color: #rgb(52, 121, 94);
    padding-left: 1em;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;

}

p {
    font-family: 'Georgia', sans-serif;
}

article {
    background-color: lightyellow;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 3rem;
    box-shadow: 1px 5px 5px 5px rgb(148, 144, 144);
}

article a {
    color: rgb(52, 121, 94);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Georgia', sans-serif;
    padding-top: 1rem;
}

.promotion,
.newmenu,
.booknow,
.openinghour {
    text-align: center;
    padding-bottom: 1rem;
}

/* FOOTER */

footer {
    display: grid;
    grid-row: 5;
    grid-template-columns: 1fr 1fr;
}

footer>img {
    align-self: center;
    margin: 20em;
}

.copyright {
    border-top: 2px solid black;
    display: flex;
    font-style: italic;
    justify-content: flex-end;
    width: 100%;
    min-width: minmax(0, 50%);
}


/* 404 PAGE */
.error {
    grid-column: 1/ span 3;
    padding-left: 1em;
    text-align: center;
}

/* BACK-TO-TOP-BUTTON*/

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 10px;
    background-color: rgb(52, 121, 94);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}
